<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AccommodationsPortSoap11" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ws" binding="basicHttpBinding"
          bindingConfiguration="AccommodationsPortSoap11" contract="AccommodationsPort"
          name="AccommodationsPortSoap11" />
      <endpoint address="http://localhost:8080/ws" binding="basicHttpBinding"
                bindingConfiguration="AccommodationsPortSoap11" contract="LoginPort"
                name="LoginPortSoap11" />
    </client>
  </system.serviceModel>
</configuration>